span {
    color: blue;
    display: inline-block;
    display: list-item;
    list-style: disc inside;
    margin-left: 20px;
    }
    
    p {
    color: blue; 
    display: list-item;
    list-style: disc inside;
    margin-left: 20px;
    }
    
    h2 {
    font-size:100%
    }
    
    u {
    background-color: yellow;
    color: black;
    font-weight: bold;  
    }